a {
  color: #539e8a;
  text-decoration: none;
}

a:hover {
  color: white;
}

body {
  background-color: #539e8a;
  font-family: sans-serif;
  margin: auto;
}

#forgot-password {
    padding-bottom: 1em;
}

h1 {
}

#login-button {
  margin-top: 1em;
  margin-bottom: 2em;
  border: 0;
  background-color: #539e8a;
  color: white;
  width: 50%;
  height: 2em;
}

#login-button:hover {
    color: black;
}

#login-box {
  width: 20vw;
  height: 50vh;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  text-align: center;
  border-radius: 1em;
  background-color: #f6c5be;
  color: #539e8a;
  box-shadow: 5px 5px #436a60;
}

#password {
  height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white;
  border: 0;
  text-align: center;
}

#email {
  height: 2em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white;
  border: 0;
}
